.container-fluid {
  text-align: center;
  background-color: teal;
  color: white;
}
#h1{
  font-style: italic;
}
.row {
  height: 85px;
  text-align: center;
}
.col-4 {
  text-align: center;
  background-color: grey;
  color: white;
}
.col-6 {
  height: 25px;
  background-color: teal;
  color: white;
  
}
.col-3 {
  font-size: 50px;
  margin-top: -10px;
  color: yellow;
}
.controls {
  font-size: 30px;
  margin-top: -2px;
  color: yellow;
}